
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex: 1;
}
.movie_list{
 width: 50%;
 border-right: 1px solid #ebe4e4;
}
.movie_details{
  width: 50%;
  padding: 10px;
 }
